*{
    font-size: 20px;
    font-family:fantasy;
    
}

body{
    display: flex;
    flex:1;
    justify-content: center;
   
    width:100vw;
    height:100vh;
}
.parent-flex-container{
    display: flex;
    align-self: center;
    flex-direction: column;
    
    flex-grow: 0;
    width: 20vw;
    border: 1px solid black;
    height: 60vh;
    
    flex-wrap: 1;

}
.flex-side-container{
    display:flex;
    flex-grow: 0;
    background-color: gray;
    height:30%;
    align-items: center;
    justify-content: end;
    
}

.flex-up-container{
    display:flex;
    
    row-gap: 10px;
    
    width:100%;
    height:100%;
    flex-grow: 0;
    align-items: end;
    
    border: 2px solid red;
    
    
    
}

.flex-calc-input-display{
    display: flex;
    padding:10px;
    color:white;
    
    text-shadow: 1px 1px 2px white;

}

.symbols{
    display:flex;
    color:whitesmoke;
    flex-direction: row;
    flex-grow: 0;
    background-color: orange;
    background-image: url("equal_sign.png") 100px;
    width: 25%;
    height:20%;
    margin:5px; 
    border-radius: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;

    
    
}

.tester{
    border: 1px solid black;
}

.symbol{
    font-size:20px;
    
}